<form action="/submit" method="POST">
<textarea name="text" cols="30" rows="10"></textarea>
<button name="button" value="submit">Submit</button>
<button name="button" value="edit">Edit</button>
<button name="button" value="delete">Delete</button>
<button name="button" value="archive">View Archive</button>
</form>